<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("https://images.unsplash.com/photo-1506869640319-fe1a24fd76dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZmFtaWx5JTIwYW5kJTIwZnJpZW5kc3xlbnwwfHwwfHw%3D&w=1000&q=80", :alt => "rss feed") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("https://thumbs.dreamstime.com/b/happy-group-diverse-people-friends-family-team-together-standing-holding-hands-celebrating-success-water-reflection-sunset-49022123.jpg") %>
    </div>
   
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>








































